* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(245, 245, 220);
}

#tooltip {
    pointer-events: none;
    width: auto;
    height: auto;
    background-color: white;
    position: absolute;
    padding: 8px;
    font-size: small;
    border: solid 1px black;
    border-radius: 5px;
}

.dot {
    background-color: green;
    stroke:black;
}