* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: beige;
}

#tooltip {
    pointer-events: none;
    width: 120px;
    height: 50px;
    background-color: white;
    position: absolute;
    padding: 8px;
    font-size: small;
    border: solid 1px black;
    border-radius: 5px;
}