* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: beige;
}

#tooltip {
    pointer-events: none;
    width: 120px;
    height: 50px;
    background-color: white;
    position: absolute;
    //opacity: 0;
}